<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Choose Language</title>
  <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
  <header>
    <h1>Choose your language</h1>
  </header>

  <div class="container">
    <form action="/set_language" method="post">
      <input type="hidden" name="user_id" value="{{ user_id }}">
  
      <label for="language">Language:</label>
      <select name="language" id="language">
        <option value="ru" selected>🇷🇺</option> 
        <option value="en">🇺🇸</option>
        <option value="ja">🇯🇵</option>
        <option value="ko">🇰🇷</option>
        <option value="zh">🇨🇳</option>
        <option value="es">🇪🇸</option>
        <option value="pt">🇵🇹</option>
      </select>
      <button type="submit">Continue</button>
    </form>
  </div>
</body>
</html>
